<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-odo-tose2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/99df4a07-65ba-4205-86bc-40cea9143f85/resourceGroups/RG-ODO-Tose2/providers/Microsoft.Web/sites/func-odo-tose2</ResourceId>
    <UserName>$func-odo-tose2</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://func-odo-tose2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>